<?xml version='1.0' encoding='utf-8'?>

<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id        = "br.com.nickford.adsapp"
  version   = "1.0.1" >

  <name>AdsApp</name>

  <description>
    Social Network for Ads
  </description>

  <author email="joao@dev.house" href="http://dev.house">
    Nickford
  </author>

  <content src="index.html" />

  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="14" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />

  <!--plugins -->
  <plugin name="cordova-plugin-camera" source="npm" />
  <plugin name="cordova-plugin-file" source="npm" />
  <plugin name="cordova-plugin-file-transfer" source="npm" />
  <plugin name="cordova-plugin-device" source="npm" />
  <plugin name="cordova-plugin-device-orientation" source="npm" />
  <plugin name="cordova-plugin-dialogs" source="npm" />
  <plugin name="cordova-plugin-splashscreen" source="npm" />
  <plugin name="cordova-plugin-network-information" source="npm" />
  <plugin name="cordova-plugin-inappbrowser" source="npm" />
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <plugin name="cordova-plugin-statusbar" source="npm" />
<!--
  <plugin name="cordova-plugin-facebook4" source="npm">
    <param name="APP_ID" value="1269306609763820" />
    <param name="APP_NAME" value="AdsApp" />
  </plugin>

  <plugin name="cordova-plugin-x-socialsharing" source="npm" />
  <feature name="SocialSharing">
    <param name="ios-package" value="SocialSharing" />
    <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
  </feature>
-->
  <platform name="android">
    <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
    <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
    <icon density="hdpi" src="es/icon/android/icon-72-hdpi.png" />
    <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
    <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
  </platform>

  <platform name="ios">

  </platform>

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
</widget>
